*{ /*reset para navegator*/
    margin: 0; /* TOP RIGTH BOTTOM LEFT margem*/
    padding: 0; /*prenchimento*/
}
.body{
    width: 100%; /*altura*/
    height: 100%; /*larguta*/
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(246, 246, 65));
    background-repeat: no-repeat;
}
.imagem{/*div*/
    display: flex;
    justify-content: center;
}
.imagem img{ /*imagem do avatar*/
    width: 270px;
    border-radius: 130px;
    margin-top: 150px;
    box-shadow: 8px 8px 17px rgba(224, 23, 23, 0.3);

}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600px;
    color: rgba(178, 148, 0, 0.813);
    font-family: Arial, Helvetica, sans-serif;
}
.redes-sociais{
    display: flex;
    margin-top: 10px; /* margin superior*/
    justify-content: center; /*centralizar o texto*/
    align-items: center;
    padding-bottom: 10px;
  
}
.redes-sociais a{
    text-decoration: none;
}
.icone, .email{
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px rgba(224, 23, 23, 0.3); /* caixa de sombra*/
    margin: 5px;
    overflow: hidden; /* efeito mascara */

}
.icone i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align:  center; /*alinha texto */
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(54, 201, 201); 
    color: rgb(244, 244, 248); /* cor do texto*/
    cursor: pointer;
}
.icone span a{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 23px;
    color: rgba(224, 151, 42, 0.913);
    font-size: 15px;
    line-height: 35px;
}
.icone:hover{
    width: 125px;
    background-color: rgb(22, 84, 122);
}
.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin:  auto ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 700px;
    height: 120px;
    padding:30px;
    border-radius: 15px;
    color: beige;
    background: darkblue;
    overflow: hidden;
    box-shadow: 8px 8px 17px rgba(224, 23, 23, 0.3);
}
.sobre-mim{
    position: absolute;
    top: 10px; /* move o topo do h2 para o centro vertical*/
    display: flex;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(233, 233, 236);
    line-height: 35px;      
}
.subtitulo{
    font-weight: 800px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.linguagens{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.linguagens img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px ;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 8px 8px 17px rgba(224, 23, 23, 0.3);
}
.projetos{
    margin-top: 40px;
    flex-direction: column;
}
.item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(4, 4, 53);
    border: 2px solid rgb(63, 184, 245);
    border-radius: 50px;
    width: 650px; /*largura*/
    height: 40px; /*altura*/
    font-size: 24px;
    background: rgb(218, 236, 236);
    box-shadow: 8px 8px 17px rgba(224, 23, 23, 0.3);
    cursor: pointer;
     margin-top: 8px;
}
.item:hover{
    transition: 0.1s;
    background-color: rgb(128, 199, 243);
}
#movie{
    padding: 15px;
    margin: auto;
    display: none;
}
#movie.active{
    display: block;
}
.rodape p{
    color: darkblue;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* recurso CSS que renderiza o conteudo do site e adpate para diversas resoluções */
/* resolução de 700px*/
@media (max-width: 700px){
    .imagem img{
        width: 150px;
        border-radius: 130px;
        margin-top: 25px;
    }
    .texto {
        width: 290px;
        height: 300px;
    }
    .linguagens img {
        width: 165px;
    }
    .subtitulo {
        font-size: 25px;
    }
    .item {
        width: 350px;
        margin-top: 8px;

    }
    #move {
        width: 350px;
    }

}
@media (max-width: 500px) {
    .imagem img{
        width: 120px;
        border-radius: 60px;
        margin-top: 20px;
    }
    .texto {
        width: 270px;
        height: 260px;
    }
    .linguagens img {
        width: 120px;
    }
    .subtitulo {
        font-size: -125px;
    }
    .item {
        width: 280px;
        margin-top: 8px;
    }
    #move {
        width: 300px;
    }
}